USE [prueba]
GO
/****** Object:  StoredProcedure [dbo].[proc_CargarCodigo]    Script Date: 08/07/2021 09:45:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:		Saul Guillemo Lopez Gaxiola
-- Create date: 14/06/2021
-- Description:	Procedimiento que actualiza datos del cliente
-- =======================================================

CREATE PROCEDURE [dbo].[proc_CargarCodigo2]

    
	
WITH  EXECUTE AS OWNER
AS
BEGIN
 SELECT max(num_cliente)+'1' as SiguienteCodigo FROM prueba..cat_clientes (NOLOCK)
END
