USE [altaclientes]
GO
/****** Object:  StoredProcedure [dbo].[proc_GuardarClientes]    Script Date: 06/07/2021 03:15:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =======================================================
-- Author: Marco Vinicio Payan Rayos
-- Create date: 14/06/2021
-- Description: Procedimiento para el grabado de los clientes.
-- =======================================================

CREATE PROCEDURE [dbo].[proc_GuardarClientes]
	@numCliente INT,
	@nomCliente VARCHAR(30),
	@telefono VARCHAR(20),
	@fechaNac DATETIME,
	@domicilio VARCHAR(30),
	@interior INT,
	@estatus INT
WITH  EXECUTE AS OWNER
AS
	BEGIN
		IF EXISTS (SELECT num_cliente FROM altaclientes..cat_clientes(NOLOCK) WHERE
		num_cliente = @numcliente)

		BEGIN
			UPDATE altaclientes..cat_clientes 
			SET nom_cliente=@nomCliente,telefono=@telefono, fec_nacimiento=CONVERT(DATE,CONVERT(VARCHAR(10),@fechaNac,111),111), domicilio=@domicilio, num_interior=@interior, opc_activo = @estatus 
			WHERE num_cliente = @numcliente
		END

		ELSE
			BEGIN
			--PRINT @fechaNac
			INSERT INTO altaclientes..cat_clientes (num_cliente, nom_cliente, telefono,
			fec_nacimiento, domicilio, num_interior, opc_activo)
			VALUES (@numcliente, @nomcliente, @telefono, CONVERT(DATE,CONVERT(VARCHAR(10),@fechaNac,111),111), @domicilio, @interior,@estatus)
			END
			

	END