USE [prueba]
GO
/****** Object:  StoredProcedure [dbo].[proc_ActualizarClientes]    Script Date: 15/06/2021 04:25:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:		Saul Guillemo Lopez Gaxiola
-- Create date: 14/06/2021
-- Description:	Procedimiento que actualiza datos del cliente
-- =======================================================

CREATE PROCEDURE proc_ActualizarClientes
	@codigo INT,
	@nombrecliente VARCHAR(30),
	@telefono VARCHAR(20),
	@fechanacimiento VARCHAR(10),
	@domicilio VARCHAR(30),
	@numinterior INT
    
	
WITH  EXECUTE AS OWNER
AS
BEGIN
 UPDATE cat_clientes 
 SET nom_cliente = @nombrecliente, telefono = @telefono, fec_nacimiento = @fechanacimiento, domicilio = @domicilio, num_interior = @numinterior
 WHERE num_cliente = @codigo
    
END
