USE [prueba1]
GO
/****** Object:  StoredProcedure [dbo].[proc_CargarClientes]    Script Date: 02/07/2021 08:19:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:		Saul Guillemo Lopez Gaxiola
-- Create date: 14/06/2021
-- Description:	Procedimiento que actualiza datos del cliente
-- =======================================================

CREATE PROCEDURE [dbo].[proc_CargarClientes]

    
	
WITH  EXECUTE AS OWNER
AS
BEGIN
 SELECT num_cliente, nom_cliente,telefono,fec_nacimiento,domicilio,num_interior FROM prueba..cat_clientes(NOLOCK) ORDER BY nom_cliente ASC
END
