USE [altaclientes]
GO
/****** Object:  StoredProcedure [dbo].[proc_BuscarDatosCliente]    Script Date: 06/07/2021 04:54:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================
-- Author:		Saul Guillemo Lopez Gaxiola
-- Create date: 14/06/2021
-- Description:	Procedimiento que devuelve datos del cliente
-- =======================================================

CREATE PROCEDURE [dbo].[proc_BuscarDatosCliente]	
	@codigo			INT
	
WITH  EXECUTE AS OWNER
AS
BEGIN

    IF EXISTS (SELECT num_cliente FROM altaclientes..cat_clientes(NOLOCK)  WHERE cat_clientes.num_cliente = @codigo)
    BEGIN
        SELECT num_cliente, nom_cliente, telefono, fec_nacimiento, domicilio, num_interior, opc_activo 
        FROM altaclientes..cat_clientes(NOLOCK) 
        WHERE cat_clientes.num_cliente = @codigo
    END
    ELSE 
    BEGIN
        SELECT 0, '', '', '', '', 0, 0
    END
END
